<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img src="/logoSlurpen.jpg" height="42" width="42"> <a class="navbar-brand" href="http://localhost:4000/">Slurpen Web</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="cams"><a href="/cams">Kamera Liste</a></li>
        <li><a href="/slurpen">Registrere kamera</a></li>
        <li id="livevideo"><a href="/livevideo">Live Video</a></li>        
      </ul>
    </div>
  </div>
</nav>
