<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

  <h3>Livevideo</h3><br>
    <div class="col-sm-4">     
      <iframe width="720" height="480" src="http://192.168.0.101:8080/stream" frameborder="0" ></iframe>
    </div>
</body>
<% include partials/script %>
</html>

