<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

        <h1>Slurpen bydelshus - Registrer et kamera for timelapse</h1>
        <div id="todo-table">
            <form method="POST">
                <input type="text" name="kamera" placeholder="Skriv inn navn" />
                <input type="text" name="lokasjon" placeholder="Skriv inn lokasjonrs" />
                <button type="submit">Registrer</button>
            </form>
    <ul>
        </div>
    </body>
</html>